body, p {
	margin: 0px ;
	padding: 0px;
}

form {
	position: relative;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	overflow: hidden;
}

fieldset {
	position: relative;
	margin: 10px auto;
	padding: 10px 0px 10px 72px;
	border: none;
	font-size: 12px;
}

label {
	position: absolute;
	left: -20px;
	display: inline-block;
	width: 72px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	height: 24px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}

input + span {
	position: absolute;
	bottom: -10px;
	left: 72px;
}

button {
	width: 60px;
	height: 30px;
	float: right;
	font-size: 12px;
}

input.success {
	border-color: #090;
}
span.success {
	color: #090;
}

input.error {
	border-color: #900;
}
span.error {
	color: #900;
}

input.info {
	border-color: #66afe9;
}
input.info:focus {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
span.info {
	color: #ccc;
}