@charset "utf8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0px;
	padding: 0px;
}
ul, ol, li {
	list-style: none;
}
input[type=text] {
	padding: 0px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #000;
}

body {
	min-width: 1280px;
	min-height: 1266px;
}

/* common */
.row-2, .row-3, .row-4, .row-5, .row-6 {
	width: 891px;
	margin: 0px auto;
}
.row::before, .row::after {
	content: "";
	display: block;
	clear: both;
}
.module-header {
	height: 41px;
	line-height: 41px;
	background-color: #f4f5f6;
	text-indent: 22px;
	font-size: 12px;
	font-family: "SimHei";
	color: #aaaaaa;
}

/* header */
#header {
	width: 100%;
	height: 57px;
	line-height: 57px;
	background-color: #2189bf;
}
#logo {
	display: inline-block;
	float: left;
	width: 36px;
	height: 36px;
	margin-top: calc((57px - 36px) / 2);
	margin-left: 50px;
	background: url(../imges/logo.png) no-repeat center center;
}
.header-right {
	display: inline-block;
	float: right;
	margin-right: 10%;
}
#header input[type=text] {
	width: 313px;
	height: 28px;
	border-radius: 28px;
	border: 1px solid #aaa;
	text-indent: 30px;
	font-size: 12px;
	color: #666;
}
.header-right .header-login {
	font-size: 12px;
	font-family: "Adobe Heiti Std";
	color: #fff;
	line-height: 2.25;
}


/* main-wrapper */
#main-wrapper {
	float: left;
	width: 100%;
}

/* main */
#main {
	height: 1213px;
	margin-left: 261px;
	background-color: #eeeeed;
}

/* module1 */
.module-1 {
	width: 100%;
	height: 31px;
	line-height: 31px;
	background-color: #fff;
}
.module-1 .breadcrumb {
}
.module-1 .breadcrumb .item {
	float: left;
	padding-left: 10px;
}
.module-1 .breadcrumb .item::before {
	content: "/";
	padding-right: 10px;
	font-size: 12.278px;
	font-family: "SimHei";
	color: #aaaaaa;
}
.module-1 .breadcrumb .item:first-child::before {
	content: "";
}
.module-1 .breadcrumb .item a {
	font-size: 12.278px;
	font-family: "SimHei";
	color: #aaaaaa;
}
.module-1 .breadcrumb .item:last-child a {
	color: #6898c2;
}

/* module2 */
.module-2 {
	display: flex;
	justify-content: space-around;
	width: 891px;
	height: 86px;
	margin: 20px auto 0px;
	background-color: #fff;
	border: 1px solid #aaa;
}
.module-2 .col {
	position: relative;
	margin: 15px 0px;
	min-width: 112px;
	line-height: 30px;
}
.module-2 .label-text {
	padding-right: 10px;
	font-size: 12px;
	font-family: "SimHei";
	line-height: 2.167;
	color:#323333;
}
.module-2 .control-text {
	font-size: 12px;
	font-family: "SimHei";
	line-height: 2.167;
	color: #aaa;
}
.module-2 .col-1 {
	text-align: center;
}
.module-2 .col-1 select {
	width: 71px;
	height: 26px;
}
.module-2 .col-2 select {
	width: 121px;
	height: 26px;
}
.module-2 .col-2 .change {
	position: relative;
	right: -100%;
	top: -50%;
	margin-top: -21px;
	display: block;
	width: 28px;
	height: 38px;
	line-height: 38px;
	background: url(../imges/change.png) no-repeat 2px 2px;
	text-align: right;
}
.module-2 .col-2 .change span {
	cursor: pointer;
	color: #fff;
	font-size: 12px;
}
.module-2 .col-3 .short-control {
	width: 71px;
	height: 26px;
}
.module-2 .col-3 .long-control {
	width: 121px;
	height: 26px;
}
.module-2 .col-4 .search-box {
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -13px;
	width: 51px; 
	height: 26px; 
	background-color: #388ac1;
	border-radius: 4px;
	border: none;
	color: #fff;
	cursor: pointer;
}

/* module3 */
.module-3 {
	width: 891px;
	height: 65px;
	margin: 11px auto 0px;
}
.module-3 .carousel {
	position: relative;
	float: left;
}
.module-3 .carousel-inner {
	float: left;
	margin-left: 35px;
}
.module-3 .carousel-inner .item {
	float: left;
	width: 111px;
	height: 65px;
	margin-right: 4px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
.module-3 .carousel-inner .item.active {
	border-top: 2px solid #4389c9;
}
.module-3 .carousel-control {
	display: block;
	float: left;
	width: 31px;
	height: 65px;
	line-height: 65px;
	margin-right: 4px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
.module-3 .carousel-control.left {
	position: absolute;
	left: 0px;
}
.module-3 p.time {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #323333;
}
.module-3 p.money {
	height: 32px;
	line-height: 32px;
}
.module-3 .money-num {
	font-size: 21px;
	font-family: "Microsoft YaHei";
	color:#ec6500;
	line-height: 0.686;
	-moz-transform: scale(0.949, 1);
	-webkit-transform: scale(0.949, 1);
	-ms-transform: scale(0.949, 1);
}
.module-3 .history {
	float: right;
	width: 131px;
	height: 65px;
	line-height: 65px;
	background-color: #fff;
	box-sizing: border-box;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	text-align: center;
}
.module-3 .history-text {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #535353;
}

/* module4 */
.module-4 {
	width: 891px;
	height: 88px;
	margin: 22px auto 14px;
}
.module-4 h1 {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	color: #323333;
	line-height: 2.62;
}
.module-4 .statistics {
	display: flex;
	justify-content: space-between;
}
.module-4 .statistics .item {
	position: relative;
	float: left;
	width: 201px;
	height: 71px;
	background-color: #fff;
	border: 1px solid #aaa;
}
.module-4 .statistics .item:nth-child(1) {
	margin-left: 0px;
	border-left: 4px solid #44b29e;
}
.module-4 .statistics .item:nth-child(2) {
	border-left: 4px solid #398bc2;
}
.module-4 .statistics .item:nth-child(3) {
	border-left: 4px solid #d04b36;
}
.module-4 .statistics .item:nth-child(4) {
	border-left: 4px solid #e2cd46;
}
.module-4 p {
	height: 42px;
	line-height: 42px;
	text-indent: 11px;
}
.module-4 .statistics-text {
	position: relative;
	font-size: 12px;
	font-family: "SimHei";
	color: #323333;
	-moz-transform: scale(1.029, 1);
	-webkit-transform: scale(1.029, 1);
	-ms-transform: scale(1.029, 1);
}
.module-4 .statistics-text::after {
	content: "成交量";
	position: absolute;
	top: 36px;
	left: 0px;
	font-size: 10px;
	font-family: "SimHei";
	color: #aaaaaa;
	line-height: 2.005;
	-moz-transform: scale(1.029, 1);
	-webkit-transform: scale(1.029, 1);
	-ms-transform: scale(1.029, 1);
}
.module-4 .statistics-box {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 61px;
	height: 47px;
	margin-top: -24px;
}
.module-4 .item:nth-child(1) .statistics-box {
	background-color: #44b29e;
}
.module-4 .item:nth-child(2) .statistics-box {
	background-color: #398bc2;
}
.module-4 .item:nth-child(3) .statistics-box {
	background-color: #d04b36;
}
.module-4 .item:nth-child(4) .statistics-box {
	background-color: #e2cd46;
}

/* module5 */
.module-5 {
	width: 531px;
	height: 356px;
	float: left;
	margin-top: 14px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}
.module-5 .project {
	position: relative;
	left: 50%;
	top: 29px;
	width: 491px;
	height: 249px;
	margin-left: -245px;
	margin-top: 12px;
	border: 1px solid #aaa;
	border-radius: 0px 5px 5px 5px;
}
.module-5 .tab {
	position: absolute;
	left: -1px;
	top: -30px;
	height: 28px;
	line-height: 28px;
}
.module-5 .tab .item {
	float: left;
	width: 46px;
	margin: 0px 2px;
	padding: 0px 20px;
	border-radius: 5px 5px 0px 0px;
	background-color: #ededf0;
}
.module-5 .tab .item:first-child {
	margin-left: 0px;
}
.module-5 .tab .item.active {
	border: 1px solid #aaa;
	border-bottom: none;
	background-color: #fff;
}
.module-5 .tab .item:hover, .module-5 .tab .item:visited {
	border: 1px solid #aaa;
	border-bottom: none;
	background-color: #fff;
}
.module-5 .tab-title {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #535353;
}
#project-1:target, #project-2:target, #project-3:target, #project-4:target, #project-5:target {
	z-index: 1;
}
.module-5 .project-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 403px;
	height: 186px;
	margin-left: -201px;
	margin-top: -93px;
	background-color: #fff;
	z-index: 0;
}
.module-5 .project-content:first-child {
	z-index: 1;
}
.module-5 .project-content table {
	width: 100%;
	height: 186px;
	border: 1px solid #aaa;
	border-collapse: collapse;
}
.module-5 .project-content td {
	border: 1px solid #aaa;
	text-align: center;
}
.module-5 .project-content-text {
	font-size: 12px;
	font-family: "SimSun";
	color: #535353;
	line-height: 2;
}

/* module6 */
.module-6 {
	width: 351px;
	height: 356px;
	float: right;
	margin-top: 14px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}
.module-6 .project {
	padding: 12px 30px;
	box-sizing: border-box;
}
.module-6 .item-title {
	height: 24px;
	line-height: 1.381;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #c3c2c2;
	text-indent: 24px;
}
.module-6 .project-text {
	height: 24px;
	line-height: 1.381;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #535353;
	text-indent: 24px;
}
.module-6 .project table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #aaa;
	margin-bottom: 5px;
}
.module-6 .project table tr {
	border-bottom: 1px solid #aaa;
}
.module-6 .project table tr:first-child td:first-child {
	border-right: 1px solid #aaa;
}
.module-6 .project table tr:last-child {
	vertical-align: text-top;
	height: 147px;
}
.module-6 input[type="checkbox"] {
	vertical-align: middle;
	line-height: 1.381;
}
.module-6 .search-box {
	float: right;
	width: 51px; 
	height: 26px; 
	background-color: #388ac1;
	border-radius: 4px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-family: "SimHei";
	line-height: 2.167;
}

/* module7 */
.module-7 {
	width: 351px;
	height: 356px;
	float: left;
	margin-top: 9px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}

/* module8 */
.module-8 {
	width: 531px;
	height: 356px;
	float: right;
	margin-top: 9px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}

/* sidebar */
#sidebar {
	float: left;
	width: 261px;
	height: 1213px;
	margin-left: -100%;
	background-color: #2a2e3d;
}
.personal {
	height: 152px;
}
.personal .personal-info {
	height: 101px;
	line-height: 101px;
	text-align: center;
}
.personal .personal-info .personal-head {
	margin-right: 15%;
	margin-left: -15%;
	padding: 5px;
	width: 53px;
	height: 53px;
	border-radius: 50%;
	border: 2px solid #aaa;
	vertical-align: middle;
}
.personal .personal-info .personal-name {
	line-height: 1.281;
	vertical-align: middle;
	font-size: 16px;
	font-family: "SimHei";
	color: #f6f5f5;
}
.personal .personal-favourite {
	display: table;
	width: 100%;
	height: 30px;
}
.personal-favourite .presonal-collect, .personal-favourite .personal-fan {
	display: table-cell;
	padding: 0px 30px;
}
.personal-favourite .presonal-collect {
	text-align: right;
	border-right: 1px solid #383d4e;
}
.personal-favourite-text {
	font-size: 12px;
	font-family: "SimSun";
	color: #6e8095;
	line-height: 1.08;
}
.personal-collect-num, .personal-fan-num {
	font-size: 16px;
	font-family: "SimHei";
	color: #6e8095;
	line-height: 1.125;
}
.setting {
	margin: 14px 0px;
}
.setting .setting-item, .setting-sub .setting-sub-item {
	margin: -12px 0px;
	padding-left: 46px;
	font-size: 12px;
	font-family: "SimHei";
	color: #6e8095;
	line-height: 4;
	text-align: left;
}
.setting .setting-item {
}
/* 第一级列表项 */
.setting>.setting-item {}
.setting>.setting-item>.setting-name {}
.setting>.setting-item.active {
	height: auto;
	color: #ededef;
	background-color: #393e4e;
}
/* 第二/三级列表项 */
.setting-sub {}
.setting-name+.setting-sub {}
.setting-name+.setting-sub .setting-sub-item {}
.setting-name+.setting-sub .setting-sub-item.active {
	height: auto;
	color: #ededef;
}
.setting-name+.setting-sub .setting-sub-item .setting-name {}